@use "../utilities/variables";

body {
  background-color: variables.$color-bg;
  color: variables.$color-text;
  line-height: 1.5;
}

main {
  padding: 30px 20px;
  max-width: 1100px;
  margin: auto;

  h1, h2, h3 {
    color: variables.$color-green;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 20px;
    font-size: 17px;
  }
}