@use "../utilities/variables" as *;

body {
  font-family: $font-primary;
  background-color: $color-light;
  color: $color-dark;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: $font-titles;
  color: $color-primary;
  font-weight: 700;
}

p {
  margin-bottom: $spacing-sm;

}

a {
  text-decoration: none;
  color: $color-primary;
  transition: 0.3s;

  &:hover {
    color: $color-secondary;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  outline: 2px solid red;
}
body {
  background-color: #f5f7fa; 
  color: #333;
}