@use "../utilities/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: $font-primary;
  color: $color-primary;
}

a {
  text-decoration: none;
  color: $color-primary;
}

p {
  line-height: 1.6;
}