@use "../utilities/variables";
@use "../utilities/mixins";

.destinos {
  padding: 3rem 1.5rem;
}

.destinos-intro {
  text-align: center;
  margin-bottom: 3rem;

  p {
    margin-top: 0.8rem;
    font-size: 1.1rem;
  }
}

.destinos-principales h2 {
  text-align: center;
  margin-bottom: 2.5rem;
}
.grid-destinos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.destinos-detalle {
  margin-top: 4rem;
  display: grid;
  gap: 2.5rem;
}

.detalle-destino {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 12px;

  h3 {
    margin-bottom: 1rem;

  }

  p {
    line-height: 1.6;
  }
}