@use "../utilities/variables";
@use "../utilities/mixins";

.grid-destinos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: variables.$spacing-md;
  margin-top: variables.$spacing-md;
}

.destino-card {
  background: variables.$color-light;
  padding: variables.$spacing-sm;
  @include mixins.card-shadow;
  text-align: center;
  border-radius: 8px;

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: variables.$spacing-sm;
  }

  .boton-Detalle {
    display: inline-block;
    text-decoration: none;
    background: variables.$color-primary;   
    color: variables.$color-light;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    margin-top: variables.$spacing-sm;
    transition: 0.3s;

    &:hover {
      background: variables.$color-secondary;
    }
  }
}