@use "../utilities/variables";
@use "../utilities/variables" as v;

.contacto {
  padding: 3rem 1rem;
  text-align: center;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    max-width: 700px;
    margin: 0 auto 2.5rem;
    line-height: 1.6;
  }
}

.form-contacto {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem; 
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem; 

  label {
    font-weight: 600;
  }

  input,
  select,
  textarea {
    padding: 0.7rem 0.8rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 0.95rem;
  }

  textarea {
    resize: vertical;
    min-height: 120px;
  }
}

.btn-enviar {
  margin-top: 1rem;
  padding: 0.8rem;
  background-color: v.$color-primary;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}