@use "../utilities/variables" as *;
@use "sass:color";

header {
  text-align: center;
  padding: 20px 10px;
  background-color: $color-light;
  border-bottom: 2px solid color.adjust($color-dark, $lightness: 60%);

  img {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 28px;
    color: $color-primary;
  }

  p {
    font-size: 14px;
    color: $color-dark;
  }
}