@use "../utilities/variables" as *;
@use "sass:color";
header {
  width: 100%;
  padding: 1rem;
  text-align: center;

  img {
    max-width: 140px;
    height: auto;
    margin: 0 auto 0.5rem;
  }

  h1 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  p {
    font-size: 0.85rem;
    margin-bottom: 0.8rem;
  }
}