@use "../utilities/variables";
@use "../utilities/mixins";

.grid-destinos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  margin-top: 25px;
}

.destino-card {
  background: #ffffff;
  padding: 15px;
  @include mixins.card-shadow;
  text-align: center;

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
  }

  .boton-Detalle {
    display: inline-block;
    text-decoration: none;
    background: variables.$color-blue-dark;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 10px;
    transition: 0.3s;

    &:hover {
      background: lighten(variables.$color-blue-dark, 10%);
    }
  }
}
