@use "../utilities/variables" as *;

.menu-nav {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 15px 0;

  a {
    color: $color-primary;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
      color: blue;
    }
  }
}