@use "../utilities/variables" as *;
@use "../utilities/variables" as v;

.menu-nav {
  text-align: center;
  margin-top: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
}

a {
    font-size: 0.95rem;
  }

#menu-toggle {
  display: none;
}
.menu-icon {
  display: none;
  width: 30px;
  height: 22px;
  margin: 1rem auto;
  position: relative;
  cursor: pointer;

  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: v.$color-primary;
    transition: all 0.4s ease;
  }

  span:nth-child(1) { top: 0; }
  span:nth-child(2) { top: 9px; }
  span:nth-child(3) { top: 18px; }
}
.menu-links {
  display: flex;
  justify-content: center;
  gap: 1.2rem;

  a {
    text-decoration: none;
    font-weight: bold;
    color: v.$color-primary;
  }
}

@media (max-width: v.$break-mobile) {

  .menu-icon {
    display: block;
  }

  .menu-links {
    display: none;
    flex-direction: column;
    gap: 0.8rem;
  }

  #menu-toggle:checked + .menu-icon + .menu-links {
    display: flex;
  }

  #menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
  }

  #menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
    top: 9px;
  }
}
@media (min-width: 768px) {
  .menu-nav {
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }
}