@use "../utilities/mixins" ;
@use "../utilities/variables" as v;

.paquetes {
  padding: 2rem;
  text-align: center;

  h2 {
    margin-bottom: 2rem;
  }
}

.paquetes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.paquete-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: #fff;
  transition: transform 0.3s ease;
  animation: fadeUp 0.8s ease forwards;

  &:hover {
    transform: translateY(-5px);
  }

  h3 {
    color: v.$color-primary;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;

    li {
      margin-bottom: 0.4rem;
    }
  }
}

.paquete-duracion {
  font-style: italic;
}

.paquete-precio {
  font-weight: bold;
  margin-top: 1rem;
  color: v.$color-primary;
}
.btn-consultar {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: v.$color-primary;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
   /* background-color: darken(v.$color-primary, 10%);*/
    transform: scale(1.05);
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }

}

.paquete-card:nth-child(1) { animation-delay: 0.2s; }
.paquete-card:nth-child(2) { animation-delay: 0.4s; }
.paquete-card:nth-child(3) { animation-delay: 0.6s; }
