@use "../utilities/mixins";

.grid-paquetes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.paq-box {
  background: #ffffff;
  padding: 20px 10px;
  @include mixins.flex-center;
  @include mixins.card-shadow;

  h3 {
    color: #003e73;
  }
}