
$color-secondary: #007bff;
$color-success: #409f74; 
$color-light: #ffffff;
$color-primary: #2b6aa3;
$color-dark: #000000;
$color-gray-light: #cccccc;


$font-primary: "Nunito Sans", sans-serif;
$font-titles: "Nunito Sans", sans-serif;


$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 40px;