@use "partials/utilities/variables" as *;
@use "partials/utilities/mixins";
@use "partials/base/reset";
@use "partials/base/global";
@use "partials/components/header";
@use "partials/components/nav";
@use "partials/components/footer";
@use "partials/components/cards";
@use "partials/components/contacto";
@use "partials/components/nosotros";
@use "partials/components/paquetes";